---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Fetch Me">
  <section
    class="flex min-h-[100dvh] w-screen flex-col items-center justify-center gap-2 bg-gray-100 p-4"
  >
    <a
      class="text-sky-500 underline transition-colors duration-300 hover:text-sky-600"
      href="/csb">Validator CSB</a
    >
  </section>
</Layout>
